body {

	background: linear-gradient(black, silver, lightpink);
	min-height:100vh;
	min-width:100vw;

}


h1 {

	font-family: 'Amatic SC', cursive;
	text-align: center;
	color:white;
    text-shadow: 0 0 25px magenta, 0 0 20px magenta;
	font-size:5vw;
}

p {
	
	font-family: 'Amatic SC', cursive;
	color:white;
	font-size: 2vw;
	margin: 5%;
	margin-left: 2%;

}

img {

	height: 14vh;
	width: 7vw;
	opacity: 0.5;

}

img:hover {
    opacity: 1.0;
    transform: rotate(180deg);
}

button {

	font-size: 3em;
    margin-left: 24%;
    margin-bottom: 2%;
    font-family: 'Amatic SC', cursive;
    color: white;
    animation-name: spin;
    animation-duration: 1000ms;
    animation-iteration-count: 1000ms;
    animation-timing-function: linear;
}

.yourScoreBox > p {

	color: white;
	margin: 0;
	margin-top: 2%;

}

.crystalContainer {

	box-shadow: 10px 10px 5px grey;
	border:1px solid gray;
    width: 33%;
    padding: 1%;
    margin: 3%;
    margin-left: 34%;
    margin-top: 0;
}


.gameTitle {

	margin-top: 2%;

}

.gameInstructions {
	
	text-align: justify;
	width: 56%;
    margin-left: 23%;

}

.randomNumber {

	display: inline-block;	
}


.gameStats {

	display: inline-block;
}

.crystals {

	display: inline-flex;
	margin-left: 2%;
	margin-bottom: 4%;
    margin-top: 4%;

}


.yourScoreBox {
	
	margin-left: 24%;

}

.winningNumber {

	font-family: 'Amatic SC', cursive;
	color:white;
	margin-left: 24%;
	font-size: 2vw;
	margin-top: 0;
	margin-left: 24%;


}

#randomNumber, #wins, #lose {

	font-family: 'Amatic SC', cursive;
	text-shadow: 1px 1px 2px white, 0 0 25px purple, 0 0 5px magenta;
	color:white;
	font-size: 2vw;
	margin-top: 0;
	margin-left: 24%;
	margin-bottom: 1%;

}

#randomNumber {

	text-shadow: 1px 1px 2px white, 0 0 25px purple, 0 0 5px magenta;
	margin-top: 1%;

}

.score {

	color:white;
	font-family: 'Amatic SC', cursive;
	text-shadow: 1px 1px 2px white, 0 0 25px purple, 0 0 5px magenta;
	font-size: 2vw;
	margin-top: 1%;
	margin-bottom: 1%
} 

@keyframes spin {
    from{transform:rotate(0deg);}
    to{transform:rotate(360deg);}
}
